[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FishDiveR"]
	path = FishDiveR
	url = https://github.com/calvinsbeale/fishdiver
